* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: sans-serif;
    }

    body {
      background-color: rgb(46, 46, 57);
      
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .head {
      color: white;
      margin-bottom: 10px;
    }

    .pre1 {
      margin-left: 30px;
    }

    .btn {
      margin-left: 50px;
      margin-top: 35px;
      background-color: #633edb;
      border: none;
      width: 200px;
      height: 100px;
      border-radius: 3em;
      gap: 12px;
      background: linear-gradient(0deg, #a47cf3), #683fea;
      cursor: pointer;
      transition: all 150ms ease-in-out;
      box-shadow: inset 0px 1px 0px 0px , 0px 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 180px 0px #9917ff;
      transform: translateY(-px);
      font-weight: 600;
      color: #e8e8e8;
      font-size: large;
      fill: white;
      transform: scale(1.5);
    }

    .btn:hover {
      background: linear-gradient(0deg, #a47cf3), #683fea;
      box-shadow: inset 0px 1px 0px 0px rgba(25 25 25 0.2), 0px 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 180px 0px #9917ff;
      transform: translateY(-2px);
    }